.oats-i-links {

    margin-top: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 40px;
}

.repo-links-container {

    background-color: rgba(255, 255, 255, .28);
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
}

.repo-link {

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
}

.links {

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.repo-link a {

    text-decoration: none;
    display: inline-block;
    height: 20px;

    transition: transform 0.24s ease-in-out;
}

.repo-link a:hover {

    transform: scale(1.24);
}

.repo-link-separator {

    width: 4px;
    height: 29px;
    background: url("../../home/assets/line_separator_normal.svg") no-repeat;
    background-size: contain;
    opacity: .75;
}

.creator-links > .repo-link {

    font-weight: 400;
}