@import "./about.css";

/*Mobile*/
@media screen and (max-width: 600px){

    .oats-i-links {

        width: 100%;
    }

    .repo-links-container {

        flex-direction: column;
        /* width: 100%;
        gap: 8px;
        align-items: start; */
    }

    .repo-link {

        /* width: 100%; */
        flex-direction: column;
    }

    .repo-link-separator {

        /* opacity: 0.16; */
    }
}