<section class="section logo-section">
    <img src="../../../index/assets/oats_i_logo_icon.svg" alt="Oats~i Logo" class="oats_i_logo_icon">
    <h1 class="logo-name archivo-txt">Oats~i</h1>
    <p class="logo-byline open-sans-txt">The Open Web Framework</p>
</section>
<section class="section page-content">
    <h2 class="content-header open-sans-txt"><span></span><span>About Oats~i</span><span></span></h2>
    <p class="open-sans-txt">Oats~i is an open web framework for building web apps. Follow the links below for relevant content</p>
    <div class="oats-i-links">
        <div class="repo-links-container">
            <div class="repo-link">
                <p class="open-sans-txt">&lt;/&gt; Oats~i (core)</p>
                <div class="links">
                    <a href="https://github.com/Oats-i/Oats-i" target="_blank"><img src="../assets/github_icon.svg"></a>
                    <a href="https://www.npmjs.com/package/oats-i" target="_blank"><img src="../assets/npm_icon.svg"></a>
                </div>
            </div>
            <div class="repo-link-separator"></div>
            <div class="repo-link">
                <p class="open-sans-txt">&lt;/&gt; Oats~i (cli)</p>
                <div class="links">
                    <a href="https://github.com/Oats-i/oats-i-cli" target="_blank"><img src="../assets/github_icon.svg"></a>
                    <a href="https://www.npmjs.com/package/oats-i-cli" target="_blank"><img src="../assets/npm_icon.svg"></a>
                </div>
            </div>
        </div>
        <div class="creator-links">
            <div class="repo-link">
                <p class="open-sans-txt">Created by: Ian Omondi</p>
                <a href="https://github.com/Ian-Cornelius" target="_blank"><img src="../assets/github_icon.svg"></a>
                <a href="https://www.linkedin.com/in/ian-omondi-c/" target="_blank"><img src="../assets/linked_in_icon.svg"></a>
            </div>
        </div>
    </div>
</section>