<section class="section logo-section">
    <img src="../../../index/assets/oats_i_logo_icon.svg" alt="Oats~i Logo" class="oats_i_logo_icon">
    <h1 class="logo-name archivo-txt">Oats~i</h1>
    <p class="logo-byline open-sans-txt">The Open Web Framework</p>
</section>
<section class="section page-content">
    <h2 class="content-header open-sans-txt"><span></span><span>This is the starter project</span><span></span></h2>
    <p class="open-sans-txt">Navigate to "About" for links (and see routing + fragments in action)</p>
</section>